<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=youneedb.c99fqlzfzxcl.us-west-1.rds.amazonaws.com, 1433;Database=personal_project; User ID=youneepark; Password=1004fncps" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>